@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Strona główna serwisu ewidencji projektów</h1>
    <img width="1000px" src="~/projekt.jpg" />
</div>
